#selectSettlement {
	#open_map_options {
		.controlFont;
		position: absolute;
		top: 950px;
		right: 200px;
		color: white;
		font-family: @headerFontFamily;
		font-size: 25px;
	}
	#map_options{
		.controlFont;
		font-size: 25px;
		color: #f5eed6;
		display: none;
		position: absolute;
		top: 50px;
		left: 550px;
		text-align: center;

		> div{
			margin-bottom: 10px;
		}
		div:not(.title){
			.borderImageBackground;
			background-clip: padding-box;
			border-width: 9px 9px 13px 9px;
			border-image: url(/stonehearth/ui/root/css/images/gui/panel.png) 9 9 13 9 repeat;
			border-style: solid;
			background-image: url(/stonehearth/ui/root/css/images/gui/panel.png);
			padding: 10px;
			text-align: left;
		}
		p{
			margin: 0;
		}
		label{
			font-family: @headerFontFamily;
			font-size: 20px;
			margin-left: 1em;
		}

		#quantity{
			top: 0;
			border: 5px solid #100;
			padding: 2px;
			height: auto;
			font-size: 25px;
			background: rgba(0,0,0,0.5);
			color: #fff;
			margin-bottom: .5em;
		}
	}
}